.main{
    margin: 0;
    padding: 0;
}

/* Nav section style css */

.nav-parent{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 30px;
}
.nav-center-elements{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-center-elements a{
    text-decoration: none;
    color: #575757;
    font-family: "Arimo", sans-serif;
}
.nav-right-button{
    background-color: #1D4ED8;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

/* Banner (Hero) Section style css */

.hero-parent{
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}
.hero-sub-parent{
    max-width: 1200px;
    margin: auto;
    border: 0px;
}
.hero-head{
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.hero-para{
    text-align: center;
    color: white;
}
.hero-button{
    text-align: center;
    padding-top: 320px;
}
.btn{
    background-color: #1D4ED8;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.emphasis{
    font-style: italic;
}

/* Meet the Speakers style css */

.meet-parent{
    max-width: 1200px;
    margin: auto;
}
.meet-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    gap: 20px;
}
.card{
     border-radius: 10px;
     border: 1px solid #E5E7EB;
     overflow: hidden;
}
.meet-head{
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.sub-head1{
    color: #2563EB;
    font-weight: 600;
}
.sub-head2{
    font-weight: bold;
    font-size: large;
}
.card-block{
    padding-left: 20px;
}
.card-block h6,h4,p{
    margin: 10px;
}

/* Secure Your Spot or Pricing Card style css */

.price-main{
    max-width: 1200px;
    margin: auto;
}
.pricing-card-parent{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
}
.pricing-card-parent ul{
    padding-left: 20px;
}
.Price-card1{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    border: 1px solid #E5E7EB;
}
.Price-card2{
    border-radius: 10px;
    background-color: #0D1B2A;
     border: 1px solid #0D1B2A;
     color: white;
    padding: 20px;
}
.Price-card2 h5{
    color: #93C5FD;
    font-weight: 800;
}
.Price-card3{
    border-radius: 10px;
    background-color: #F8F9FB;
    padding: 20px;
    border: 1px solid #E5E7EB;
}
.price-head{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}
.price-sub-head{
    text-align: center;
    margin-bottom: 30px;
}
.line{
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    margin: 20px 0px;
}
.card-button1{
    text-align: center;
}
.card-button1 button{
    padding: 10px 80px;
    background-color: white;
    color: #2563EB;
    border: 2px solid #2563EB;
    font-weight: 700;
    border-radius: 8px;
}
.card-button2{
    text-align: center;
}
.card-button2 button{
    padding: 10px 80px;
     background-color: #2563EB;
    color: white;
    border: 2px solid #2563EB;
    font-weight: 700;
    border-radius: 8px;
}
.card-button3{
    text-align: center;
}
.card-button3 button{
    padding: 10px 80px;
     background-color: white;
    color: #0D1B2A;
    border: 2px solid #0D1B2A;
    font-weight: 700;
    border-radius: 8px;
}
.Price-card1 h5,h1,h6{
    margin: 0;
}
.Price-card2 h5,h1,h6{
    margin: 0;
}
.Price-card3 h5,h1,h6{
    margin: 0;
}

/* Footer Section style css */

.footer-parent{
    height: 150px;
    width: 100%;
    margin: 0;
    background-color: #0D1B2A;
}
.footer-sub-parent{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.footer-right-parent{
    display: flex;
    justify-content: right;
    gap: 30px;
}
.footer-right-parent a{
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}